@import '../variables.scss';

%banner-button {
  @extend %B_24;
  text-decoration-line: none;
  display: flex;
  width: 185px;
  height: 66px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: $gray_200;
  text-align: center;
  background-color: $black;
}

.banner {
  width: 1920px;
  height: 936px;
  flex-shrink: 0;
  background:
    url('../../assets/home-banner.png'),
    lightgray 50% / cover no-repeat;
  flex-direction: column;
  position: relative;

  &-button-block {
    width: 1920px;
    height: 114px;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;

    &__inner-block {
      display: inline-flex;
      align-items: flex-start;
      gap: 380px;
    }

    &__button-left {
      @extend %banner-button;
    }

    &__button-right {
      @extend %banner-button;
    }
  }
}
