@import '../variables.scss';

%banner-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $gray_200;
  text-decoration-line: none;
  background-color: $gray_900;
  width: 185px;
  height: 66px;
}

.banner {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;

  &-button-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 114px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    // transform: translate(-50%, -50%);

    &__button-left {
      @extend %banner-button;
      margin-right: 190px;
    }

    &__button-right {
      @extend %banner-button;
      margin-left: 190px;
    }
  }
}

.content {
  > img {
    width: 100%;
  }
}
