a {
  text-decoration: none;
}

.page {
  display: flex;
  width: 1920px;
  flex-direction: column;
  align-items: flex-start;

  .title-area {
    display: flex;
    height: 648px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;

    .image {
      flex: 1 0 0;
      align-self: stretch;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url(../../assets/mypage-banner.png), lightgray 50% / cover no-repeat;    }
      filter: brightness(150%); 

    .title-fixed {
      display: flex;
      padding: 24px;
      justify-content: center;
      align-items: center;
      gap: 48px;
    
      position: absolute;
      left: 139px;
      top: 148px;
    

      .title-text {
        color: $uyh;
        text-align: center;
        @extend %B_60;
      }
    }
  }
  
  .body {
    display: flex;
    padding: 80px 140px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
  
    background: $gray_900;

    .menu-frame {
      display: flex;
      padding: 24px;
      align-items: flex-start;
      gap: 120px;
      align-self: stretch;

      .side-menu {
        display: flex;
        padding: 0px 12px;
        flex-direction: column;
        align-items: flex-start;
      
        border-right: 2px solid $gray_300;

        .menu-item-active {
          display: flex;
          padding: 16px 24px;
          align-items: flex-start;
          gap: 10px;
          align-self: stretch;

          .menu-name {
            color: $uyh;
            text-align: center;
            @extend %B_24;
          }
        }
        
        .menu-item-deactive {
          display: flex;
          padding: 16px 24px;
          align-items: flex-start;
          gap: 10px;
          align-self: stretch;
        
          .menu-name {
            color: $gray_400;
            text-align: center;
            @extend %B_24;
          }
        }

        .menu-item-active .menu-name,
        .menu-item-deactive .menu-name {
          transition: color 0.3s ease; /* 트랜지션 효과 추가 */
        }
      }
      
      
    }
    
    
    
    .content {
      display: flex;
      padding: 0px 24px;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      flex: 1 0 0;
      align-self: stretch;

      // 타 css 반영 제거
      background-color: $gray_900;

      // ProfileCard
      .profile-view {
        display: flex;
        align-items: flex-start;
        gap: 40px;
        align-self: stretch;

        // animation
        transform: translateX(100%);
        opacity: 0;
        transition: transform 1.0s ease, opacity 1.6s ease;

        &.animate {
          transform: translateX(0);
          opacity: 1;
        }

        .profile-image {
          width: 400px;
          height: 266.56px;
        
          border-radius: 4px;
          background: lightgray 50% / cover no-repeat;
        }
        
        .profile-info {
          display: flex;
          padding: 24px;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 36px;
          flex: 1 0 0;
          align-self: stretch;

          .name {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 24px;

            // animation
            transform: translateX(100%);
            opacity: 0;
            transition: transform 1.0s ease, opacity 1.6s ease;

            &.animate {
              transform: translateX(0);
              opacity: 1;
            }

            .text {
              color: $uyh;
              text-align: center;
              @extend %B_40;
            }
            
            .setting {
              width: 36px;
              height: 36px;
            
              background: url(../../assets/setting.png), rgba(211, 211, 211, 0) 50% / cover no-repeat;
            }
          }
          
          .email {
            color: $gray_300;
            text-align: center;
            @extend %M_18;

            // animation
            transform: translateX(100%);
            opacity: 0;
            transition: transform 1.0s ease, opacity 1.6s ease;

            &.animate {
              transform: translateX(0);
              opacity: 1;
            }
          }
          
          .cars {
            display: flex;
            align-items: center;
            gap: 24px;
            align-self: stretch;

            // animation
            transform: translateX(100%);
            opacity: 0;
            transition: transform 1.0s ease, opacity 1.6s ease;

            &.animate {
              transform: translateX(0);
              opacity: 1;
            }

            .car-name {
              display: flex;
              padding: 8px 24px;
              align-items: center;
              gap: 10px;
            
              border-radius: 5px;
              background: $gray_800;

              .text {
                color: $gray_300;
                text-align: center;
                @extend %B_24;
              }
            }
          }
        }
      }

      // ReservationCard
      .content-card {
        display: flex;
        padding: 24px;
        align-items: center;
        gap: 32px;
        align-self: stretch;

        border-radius: 5px;
        background: $gray_800;

        // animation
        transform: translateX(100%);
        opacity: 0;
        transition: transform 1.0s ease, opacity 1.6s ease;

        &.animate {
          transform: translateX(0);
          opacity: 1;
        }

        .id-area {
          display: flex;
          width: 96px;
          padding: 12px;
          justify-content: center;
          align-items: center;
          align-self: stretch;

          .id-text {
            color: $uyh;
            text-align: center;
            @extend %B_48;
          }
        }

        .image-area {
          display: flex;
          width: 240px;
          height: 240px;
          justify-content: center;
          align-items: center;

          border-radius: 5px;

          .profile-image {
            // flex: 1 0 0;
            // align-self: stretch;

            width: 100%; /* image-area의 너비에 맞게 조정 */
            height: 100%; /* image-area의 높이에 맞게 조정 */

            background: lightgray 50% / cover no-repeat;
          }
        }

        .info-area {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 24px;
          flex: 1 0 0;

          .date-info {
            display: flex;
            align-items: center;
            gap: 24px;

            // animation
            transform: translateX(100%);
            opacity: 0;
            transition: transform 1.0s ease, opacity 1.6s ease;

            &.animate {
              transform: translateX(0);
              opacity: 1;
            }

            .text {
              color: $gray_300;
              text-align: center;
              @extend %M_18;
            }

            .separator {
              width: 4px;
              height: 4px;

              fill: $gray_300;
            }
          }

          .car-info {
            color: $uyh;
            text-align: center;
            @extend %B_24;

            // 타 css 반영 제거
            padding-top: 0;
            padding-bottom: 0;

            // animation
            transform: translateX(100%);
            opacity: 0;
            transition: transform 1.0s ease, opacity 1.6s ease;

            &.animate {
              transform: translateX(0);
              opacity: 1;
            }
          }

          .shop-info {
            color: $gray_100;
            text-align: center;
            @extend %M_18;

            // animation
            transform: translateX(100%);
            opacity: 0;
            transition: transform 1.0s ease, opacity 1.6s ease;

            &.animate {
              transform: translateX(0);
              opacity: 1;
            }
          }
        }

        // progress-arrow-200
      }

    }
  }
}
