a {
  text-decoration: none;
}

.page {
  display: flex;
  width: 1920px;
  flex-direction: column;
  align-items: flex-start;

  .title-area {
    display: flex;
    height: 800px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;

    .image {
      flex: 1 0 0;
      align-self: stretch;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url(../../assets/home-banner.png), lightgray 50% / cover no-repeat;
    }
    
    .title-fixed {
      display: flex;
      padding: 24px;
      justify-content: center;
      align-items: center;
      gap: 48px;
    
      position: absolute;
      left: 56px;
      // bottom: 32px;
      top: 766px;
    

      .title-text {
        color: var(--uyh, #FFFEFD);
        text-align: center;

        /* B_60 */
        font-family: "Apple SD Gothic Neo";
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 72px; /* 120% */
      }
    }
  }
  
  .body {
    display: flex;
    padding: 64px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    align-self: stretch;
  
    background: var(--gray_900, #0F0E0D);

    .menu-frame {
      display: flex;
      padding: 24px;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;

      .side-menu {
        display: flex;
        width: 360px;
        padding: 0px 12px;
        flex-direction: column;
        align-items: flex-start;
      
        border-right: 2px solid var(--gray_300, #B6B0A8);

        .menu-item-active {
          display: flex;
          padding: 24px;
          align-items: flex-start;
          gap: 10px;
          align-self: stretch;

          .menu-name {
            color: var(--uyh, #FFFEFD);
            text-align: center;

            /* B_24 */
            font-family: "Apple SD Gothic Neo";
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 34px; /* 141.667% */
          }
        }
        
        .menu-item-deactive {
          display: flex;
          padding: 24px;
          align-items: flex-start;
          gap: 10px;
          align-self: stretch;
        
          .menu-name {
            color: var(--gray_400, #928C86);
            text-align: center;

            /* B_24 */
            font-family: "Apple SD Gothic Neo";
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 34px; /* 141.667% */
          }
        }

        .menu-item-active .menu-name,
        .menu-item-deactive .menu-name {
          transition: color 0.3s ease; /* 트랜지션 효과 추가 */
        }
      }
      
      
    }
    
    
    
    .content {
      background-color: #0F0E0D;
      display: flex;
      padding: 24px;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      flex: 1 0 0;
      align-self: stretch;

      .profile-view {
        display: flex;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;

        .profile-image {
          width: 400px;
          height: 266.56px;
        
          border: 2px solid var(--uyh, #FFFEFD);
          background: url(../../assets/profile-image.png), lightgray 50% / cover no-repeat;
        }
        
        .profile-info {
          display: flex;
          padding: 24px;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 24px;
          flex: 1 0 0;
          align-self: stretch;

          .name {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 24px;

            .text {
              color: var(--uyh, #FFFEFD);
              text-align: center;
              
              /* B_40 */
              font-family: "Apple SD Gothic Neo";
              font-size: 40px;
              font-style: normal;
              font-weight: 700;
              line-height: 48px; /* 120% */
            }
            
            .setting {
              width: 36px;
              height: 36px;
            
              background: url(../../assets/setting.png), rgba(211, 211, 211, 0) 50% / cover no-repeat;
            }
          }
          
          .email {
            color: var(--gray_300, #B6B0A8);
            text-align: center;
          
            /* SB_24 */
            font-family: "Apple SD Gothic Neo";
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 34px; /* 141.667% */
          }
          
          .cars {
            display: flex;
            align-items: center;
            gap: 24px;
            align-self: stretch;

            .car-name {
              display: flex;
              padding: 8px 24px;
              align-items: center;
              gap: 10px;
            
              border-radius: 5px;
              background: var(--gray_800, #1D1C1B);

              .text {
                color: var(--gray_300, #B6B0A8);
                text-align: center;

                /* B_24 */
                font-family: "Apple SD Gothic Neo";
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 34px; /* 141.667% */
              }
            }
          }
        }
      }
    }
  }
}
