@import '../variables.scss';


.page > .body > .title {
  display: flex;
  padding: 16px 28px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.page > .body > .title > .title-mini {
  color: $uyh;
  @extend %SB_24;
}

.page > .body > .title > .title-big {
  color: $uyh;
  @extend %B_36;
}

.page > .body > .profile-info {
  display: flex;
  padding: 24px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border-radius: 8px;
  border: 0.6px solid $uyh;
}

.profile-info > .profile-row {
  display: flex;
  height: auto;
  padding: 10px 80px;
  align-items: center;
  gap: 100px;
  align-self: stretch;
}

.profile-info > .profile-row > .key {
  width: 100px;
  color: $gray_300;
  @extend %M_24;
}

.profile-info > .profile-row > .value {
  color: $uyh;
  @extend %SB_24;
}

.profile-info > .profile-row > .input {
  display: flex;
  width: 320px;
  padding: 12px 20px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  border: 0.5px solid $uyh;

  color: $uyh;
  @extend %SB_24;
}

.profile-info > .car-list {
  display: flex;
  padding: 4px 80px;
  height: auto;
  align-items: center;
  gap: 80px;
}

.profile-info > .car-list > .key {
  width: 100px;
  color: $gray_300;
  @extend %M_24;
}

.profile-info > .car-list > .car-frame {
  display: flex;
  align-items: center;
  gap: 15px;
  min-width: 1920px;
  flex: 1 0 0;
}

.profile-info > .car-list > .car-frame > .car-sub-frame {
  display: flex;
  width: 161px;
  height: 96px;
  padding: 0px 4px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profile-info > .car-list > .car-frame > .car-sub-frame > .car {
  width: 157px;
  height: 96px;
  padding: 0px 2px;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  justify-content: center;
}
  
.profile-info > .car-list > .car-frame > .car-sub-frame > .car > .car-image {
  width: 157px;
  flex: 1 0 0;
  margin-bottom: -52px;
  z-index: 1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.70) 100%), url(../../assets/image.png), lightgray 50% / cover no-repeat;
}

.profile-info > .car-list > .car-frame > .car-sub-frame > .car > .car-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-top: -24px;
  z-index: 2;
}
  
.profile-info > .car-list > .car-frame > .car-sub-frame > .car > .car-info > .car-name {
  color: $orange_600;
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile-info > .car-list > .car-frame > .car-sub-frame > .car > .car-info > .car-number {
  color: $uyh;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile-info > .car-list > .car-frame > .car-sub-frame .icon {
  width: 20px;
  height: 20px;
  stroke-width: 1.5px;
  position: relative;
  top: -68px;
  right: -136px;
  stroke: $uyh;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  z-index: 2;
  background: url(../../assets/icon-delete.png) no-repeat center / contain;
  cursor: pointer;

  border: none;
}

.profile-info > .car-list > .car-frame > .add {
  display: flex;
  padding: 12px 28px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.profile-info > .car-list > .car-frame > .add > .text {
  color: $orange_600;
  text-align: center;
  font-family: "Abhaya Libre Medium";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;

  cursor: pointer;
  color: $orange_600;
  @extend %SB_20;
}


/*---------------------------------*/

.page > .body > .buttons {
  display: flex;
  padding: 12px;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.btn {
  display: flex;
  height: 48px;
  padding: 12px 36px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 5px;
  border: 0.5px solid $uyh;
  background: $gray_900;
  box-sizing: border-box;
}

.custom {
  height: 54px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $orange_700;
  }
}

.btn > .text {
  color: $uyh;
  text-align: center;
  @extend %B_18;
}
