@import '../variables.scss';

.calendar {
  user-select: none;
  display: flex;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.calendar > .month {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.calendar > .month > .arrow-left,
.calendar > .month > .arrow-right {
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
}

.calendar > .month > .arrow-left:hover,
.calendar > .month > .arrow-right:hover {
  cursor: pointer;
}

.calendar > .month > .text {
  color: $gray_200;
  text-align: center;
  @extend %B_20;
}

.calendar > .calendar-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.calendar > .calendar-content > .week-title,
.calendar > .calendar-content > .week {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.calendar > .calendar-content > .week-title > .atom-weekday,
.calendar > .calendar-content > .week-title > .atom,
.calendar > .calendar-content > .week > .atom-nothing,
.calendar > .calendar-content > .week > .atom-weekday,
.calendar > .calendar-content > .week > .atom {
  display: flex;
  width: 48px;
  height: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.calendar > .calendar-content > .week > .atom-weekday:not(.disabled):hover,
.calendar > .calendar-content > .week > .atom:not(.disabled):hover {
  background: $orange_900;
  cursor: pointer;
}

.calendar > .calendar-content > .week > .active {
  background: $orange_700 !important;
}

.calendar > .calendar-content > .week-title > .atom-weekday > .text,
.calendar > .calendar-content > .week > .atom-weekday > .text {
  color: $orange_500;
  text-align: center;
  @extend %B_24
}

.calendar > .calendar-content > .week > .atom-weekday.disabled > .text {
  color: $orange_900;
}

.calendar > .calendar-content > .week > .atom.disabled > .text {
  color: $gray_700;
}

.calendar > .calendar-content > .week-title > .atom > .text,
.calendar > .calendar-content > .week > .atom > .text {
  color: $gray_200;
  text-align: center;
  @extend %B_24
}

.available-times {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 12px;
  align-self: stretch;
  flex-wrap: wrap;

  .time {
    display: flex;
    width: 96px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid $orange_600;

    .time-text {
      color: $gray_200;
      text-align: center;
      @extend %B_20;
    }

    .active {
      background: $orange_600;

      .time-text {
        color: $gray_900;
      }
    }
  }
}
