@import '../variables.scss';

%header-button {
  display: flex;
  width: 167px;
  height: 94px;
  padding: 25px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.header {
  display: flex;
  width: 1920px;
  height: 94px;
  flex-shrink: 0;
  background-color: $gray_900;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 131px;
  height: 51px;

  > img {
    width: 185px;
    height: 72px;
    flex-shrink: 0;
  }
}

.header-button {
  margin-right: 32px;
  display: flex;

  &__button {
    @extend %header-button;
    color: $gray_200;
    width: 76px;
    height: 29px;
    text-decoration-line: none;
    margin-left: 33px;
  }
}
