@import '../variables.scss';

.header {
  display: flex;
  width: 1920px;
  padding: 8px 24px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  background-color: $gray_900;
  transition: background-color 0.3s ease;
  z-index: 100;

  > .logo {
    width: 146px;
    height: 45px;
    flex-shrink: 0;
  }

  &.on-top {
    transition: background-color 0.3s ease;
    background-color: inherit;
  }
}

.header > .btn-group {
  display: flex;
  padding: 3px 0px;
  align-items: center;
  gap: 24px;

  > .btn {
    @extend %B_20;
    color: $gray_200;
    text-align: center;
    display: flex;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
  }
}
