@import '../variables.scss';

.header {
  background-color: $gray_900;
  height: 94px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 131px;
  height: 51px;

  > img {
    width: 100%;
    height: 100%;
    margin-left: 25px;
  }
}

.header-button {
  margin-right: 32px;

  &__button {
    color: $gray_200;
    width: 76px;
    height: 29px;
    text-decoration-line: none;
    margin-left: 33px;
  }
}
