@import "./reset.scss";
@import "./variables.scss";

@import "./components/sideBar.scss";
@import "./components/button.scss";
@import "./components/infoTable.scss";
@import "./components/modal.scss";
@import "./components/button.scss";

@import "./pages/reservationList.scss";
@import "./pages/shopManage.scss";
@import "./pages/main.scss";

.page {
  display: flex;
  width: 100%;
  height: 100vh;
  background: $white;

  > .body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    overflow-y: auto;

    > .title {
      display: flex;
      padding: 12px 24px;
      align-items: flex-start;
      align-self: stretch;

      border-bottom: 1px solid $blue_600;
      background: $white;

      > span {
        color: $black;
        text-align: center;
        @extend %B_30;
      }
    }

    > .content {
      display: flex;
      padding: 24px;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;
    }
  }
}

.p-0 {
  padding: 0px !important;
}

.w-100 {
  width: 100px !important;
}

.w-150 {
  width: 150px !important;
}

.w-200 {
  width: 200px !important;
}

.w-250 {
  width: 250px !important;
}

.w-300 {
  width: 300px !important;
}

.w-350 {
  width: 350px !important;
}

.h-52 {
  height: 52px !important;
}
