@import '../variables.scss';

.body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.body .title {
    display: flex;
    padding: 12px 24px;
    align-items: flex-start;
    align-self: stretch;
    border-bottom: 1px solid $blue_600;
    background: $uyh;

    span {
        color: $black;
        text-align: center;

        @extend %size_30;
    }
}

.content {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.content .search-area {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 5px;
    background: $blue_50;
}

.content .search-area .search-row {
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.content .search-area .search-row .search-item {
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 24px;

    span {
        color: $black;
        text-align: center;
        
        @extend %size_20;
    }

    input {
        width: 196px;
        height: 40px;
        border-radius: 5px;
        background: $uyh;
    }
}

.content .search-area .search-row .btn-dark {
    display: flex;
    padding: 8px 48px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: $blue_800;

    a {
        color: $blue_50;
        text-align: center;

        @extend %size_20;
    }
}

.content .register-area {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.content .register-area .btn-dark {
    display: flex;
    padding: 8px 48px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: $blue_800;

    a {
        color: $blue_50;
        text-align: center;

        @extend %size_20;
    }
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.table .th {
    display: flex;
    padding: 0px 24px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: $blue_50;
}

.table .th .td {
    display: flex;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;

    span {
        color: $black;
        text-align: center;

        @extend %size_20;
    }
}

.table .tr {
    display: flex;
    padding: 0px 24px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid $blue_600;
}

.table .tr .td {
    display: flex;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;

    span {
        color: $black;
        text-align: center;

        @extend %size_20;
    }
}

.table .tr .td .delete-button {
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
}

.table .tr .delete-button .btn-light {
    display: flex;
    padding: 8px 48px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid $blue_600;
    background: $blue_50;

    a {
        color: $black;
        text-align: center;

        @extend %size_20;
    }
}

.content .paginate {
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}

.content .paginate .left-arrow, .right-arrow {
    color: $black;
    text-align: center;

    @extend %size_30;
}

.content .paginate .page-number {
    color: $blue_800;
    text-align: center;

    @extend %size_30;
}

.content .paginate .page-number .page-item {
    margin: 0px 12px;
}