@import './reset.scss';
@import './variables.scss';
@import './components/footer.scss';
@import './components/header.scss';
@import './pages/main.scss';
@import './pages/reservComp.scss';
@import './pages/reservation.scss';
@import './pages/myPage.scss';
@import './pages/reservationIntro.scss';

body {
  background-color: $black;
}

.content {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
