@import './reset.scss';
@import './variables.scss';
@import './components/footer.scss';
@import './components/header.scss';
@import './components/modalHeader.scss';
@import './pages/main.scss';
@import './pages/reservComp.scss';
@import './pages/reservation.scss';
@import './pages/reservationModal.scss';
@import './pages/myPage.scss';

body {
  background-color: $black;
}

.w-200 {
  width: 200px;
}

.w-180 {
  width: 180px;
}

.w-160 {
  width: 160px;
}

.w-140 {
  width: 140px;
}

.input-area {
  display: flex;
  height: 60px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 5px;
  background: $gray_800;
  box-sizing: border-box;
}

.input-text {
  @extend %B_20;
  color: $uyh;
  text-align: center;
}

.btn-black {
  display: flex;
  height: 48px;
  padding: 12px 36px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 5px;
  border: 2px solid $uyh;
  background: $gray_900;
  box-sizing: border-box;

  .btn-text {
    @extend %SB_18;
    color: $uyh;
    text-align: center;
  }

  &:hover {
    cursor: pointer;
  }
}
