$orange_500: #f3ab39;
$orange_600: #cf8d26;
$orange_700: #b57b1e;
$orange_900: #64430f;
$orange_200: #f7dbb0;

$gray_50: #f8f5ef;
$gray_100: #efebe5;
$gray_200: #ddd8d2;
$gray_300: #b6b0a8;
$gray_400: #8c837a;
$gray_500: #6e665c;
$gray_600: #595148;
$gray_700: #4a433b;
$gray_800: #2e2b28;
$gray_900: #0f0e0d;

$white: #ffffff;
$black: #121110;

$font_size_48: 48px;
$font_size_24: 24px;
$font_size_20: 20px;
$font_size_18: 18px;
$font_size_16: 16px;
$font_size_14: 14px;
$font_size_12: 12px;

$line_height_54: 54px;
$line_height_34: 34px;
$line_height_28: 28px;
$line_height_26: 26px;
$line_height_24: 24px;
$line_height_22: 22px;
$line_height_20: 20px;

$font_weight_bold: 700;
$font_weight_semi_bold: 600;
$font_weight_medium: 500;
$font_weight_regular: 400;

%B_48 {
  font-weight: $font_weight_bold;
  font-size: $font_size_48;
  line-height: $line_height_54;
}

%B_24 {
  font-weight: $font_weight_bold;
  font-size: $font_size_24;
  line-height: $line_height_34;
}

%B_20 {
  font-weight: $font_weight_bold;
  font-size: $font_size_20;
  line-height: $line_height_28;
}

%B_18 {
  font-weight: $font_weight_bold;
  font-size: $font_size_18;
  line-height: $line_height_26;
}

%B_16 {
  font-weight: $font_weight_bold;
  font-size: $font_size_16;
  line-height: $line_height_24;
}

%SB_18 {
  font-weight: $font_weight_semi_bold;
  font-size: $font_size_18;
  line-height: $line_height_26;
}

%SB_16 {
  font-weight: $font_weight_semi_bold;
  font-size: $font_size_16;
  line-height: $line_height_24;
}

%SB_14 {
  font-weight: $font_weight_semi_bold;
  font-size: $font_size_14;
  line-height: $line_height_22;
}

%M_16 {
  font-weight: $font_weight_medium;
  font-size: $font_size_16;
  line-height: $line_height_24;
}

%M_14 {
  font-weight: $font_weight_medium;
  font-size: $font_size_14;
  line-height: $line_height_22;
}

%M_12 {
  font-weight: $font_weight_medium;
  font-size: $font_size_12;
  line-height: $line_height_20;
}

%R_16 {
  font-weight: $font_weight_regular;
  font-size: $font_size_16;
  line-height: $line_height_24;
}

%R_14 {
  font-weight: $font_weight_regular;
  font-size: $font_size_14;
  line-height: $line_height_22;
}

%R_12 {
  font-weight: $font_weight_regular;
  font-size: $font_size_12;
  line-height: $line_height_20;
}
